<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="MailingGroupsServiceEndPointConfig"
                address="http://localhost:2222/mailingGroupsService"
                binding="basicHttpBinding"
                contract="DesktopMailingSystem.Contracts.IMailingGroupsService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>